<div class="wrapper">
    <div class="abs-center wd-xl" *ngIf="error == 'Invalid User'">
      <div class="text-center mb-xl">
          <div class="text-lg mb-lg">Invalid User</div>
          <p>Please login again to continue</p>
      </div>
      <ul class="list-inline text-center">
          <li><a [routerLink]="'/login'">Login</a></li>
      </ul>
    </div>
    <div class="abs-center wd-xl" *ngIf="error !== 'Invalid User' && error !== 'Invalid Session' && error !== 'Logged out'">
      <div class="text-center mb-xl">
          <div class="text-lg mb-lg">404</div>
          <p class="lead m0">Invalid URL</p>
          <p>Please login using below link to continue</p>
      </div>
      <ul class="list-inline text-center">
          <li><a [routerLink]="'/login'">Login</a></li>
      </ul>
    </div>
    <div class="abs-center wd-xl" *ngIf="error == 'Invalid Session'">
      <div class="text-center mb-xl">
          <div class="text-lg mb-lg">Invalid session</div>
          <p>Please login to continue</p>
      </div>
      <ul class="list-inline text-center">
          <li><a [routerLink]="'/login'">Login</a></li>
      </ul>
    </div>
    <div class="abs-center" *ngIf="error == 'Logged out'">
      <div class="text-center mb-xl">
          <div class="text-lg mb-lg">You have successfully logged out</div>
          <p>To login again click here</p>
      </div>
      <ul class="list-inline text-center">
          <li><a [routerLink]="'/login'">Login</a></li>
      </ul>
    </div>
</div>