

<div >
  <ng-scrollbar>
  <!--Sorts the data table based on event Status in descending order on page load-->
  <table mdbTable mdbTableScroll scrollX="true" maxWidth="400" [mfData]="eventData"  #mf="mfDataTable" >
      <thead>
          <tr>
              <!-- <th>                        
                  <input class="form-control" placeholder="Search Event Name" [(ngModel)]="filterQuery"/>
              </th> -->
          </tr>
          <tr>
              <th class="col-xs-2">
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th class="col-xs-2">
                <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
            </th>
            <th class="col-xs-2">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th class="col-xs-2">
            <mfDefaultSorter by="company">Company</mfDefaultSorter>
        </th>
        <th class="col-xs-2">
          <mfDefaultSorter by="date_entry">Date_entry</mfDefaultSorter>
      </th>
      <!-- <th class="col-xs-2">
        <mfDefaultSorter by="org_num">Org_num</mfDefaultSorter>
    </th>
    <th class="col-xs-2">
      <mfDefaultSorter by="address_1">Address_1</mfDefaultSorter>
  </th>
  <th class="col-xs-2">
    <mfDefaultSorter by="city">City</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="zip">Zip</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="geo">Geo</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="pan">Pan</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="pin">Pin</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="id">Id</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="status">Status</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="fee">Fee</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="guid">Guid</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="date_exit">Date_exit</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="date_first">Date_first</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="date_recent">Date_recent</mfDefaultSorter>
</th>
<th class="col-xs-2">
  <mfDefaultSorter by="url">Url</mfDefaultSorter>
</th> -->
                   
              <th class="col-xs-1"><mfDefaultSorter by="">Select</mfDefaultSorter></th>
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of mf.data">
              <td>{{item.name}}</td>
              <td>{{item.phone}}</td>    
              <td>{{item.email}}</td>
              <td>{{item.company}}</td>
              <td>{{item.date_entry}}</td>  
              <!-- <td>{{item.org_num}}</td>
              <td>{{item.address_1}}</td>
              <td>{{item.city}}</td>
              <td>{{item.zip}}</td>
              <td>{{item.geo}}</td>
              <td>{{item.pan}}</td>
              <td>{{item.pin}}</td>
              <td>{{item.id}}</td> 
              <td>{{item.status}}</td> 
              <td>{{item.fee}}</td> 
              <td>{{item.guid}}</td> 
              <td>{{item.date_exit}}</td> 
              <td>{{item.date_first}}</td> 
              <td>{{item.date_recent}}</td> 
              <td>{{item.url}}</td>          -->
              <td>
                  
                <button type="button" (click)="onSelect(item)"class="glyphicon glyphicon-check"></button>
              </td>
          </tr>
      </tbody>
      <tfoot>
          <tr>
              <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]=rowsPerPageList></mfBootstrapPaginator>
              </td>
          </tr>
      </tfoot>
  </table>
</ng-scrollbar>
</div>

